@font-face {
  font-family: "DejaVuSans";
  src: url("../assets/fonts/DejaVuSans.woff2") format("woff2"),
    url("../assets/fonts/DejaVuSans.woff") format("woff"),
    url("../assets/fonts/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPGVenuri2020";
  src: url("../assets/fonts/BPGVenuriCaps2020.woff2") format("woff2"),
    url("../assets/fonts/BPGVenuriCaps2020.woff") format("woff"),
    url("../assets/fonts/BPGVenuriCaps2020.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
