// color
$white: #fff;
$darkBlue: #1d2933;
$lightYellow: #fff9b4;
$lightGray: #707070;
$bgcolor: #f9f7f5;
$tagsyellow: #eed370;
$btnGray: #798996;
$black: #000000;
$error: #fe4444;
$lightGray: #c0d0de;
$terminsGrayBg: #e9e9ed;
$bgFrom: #FEFCFB;
// Fonts
$dejavu: "DejaVuSans";
$venuri: "BPGVenuri2020";
